$background: #fbf8f1;
$primary-text-color: #766251;
$secondary-text-color: white;
$primary-game-color: #9c897c;
$tile-0-color: #bdac98;
$tile-2-color: #eee4da;
$tile-4-color: #ebd8b7;
$tile-8-color: #f3b177;
$tile-16-color: #f6905f;
$tile-32-color: #f77e63;
$tile-64-color: #f76441;
$tile-bigger-than-64: #f1d066;