@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
  background-color: vars.$background;
  font-family: rubik;
}

header {
  padding: 20px;
  #headerContent {
    display: flex;
    justify-content: space-between;
    h1 {
      margin: 0;
      color: vars.$primary-text-color;
      font-size: 40pt;
    }
    #newGameBtn {
      height: 45px;
      width: 120px;
      border-radius: 10px;
      background-color: vars.$primary-game-color;
      border: solid 0.5px vars.$primary-text-color;
      color: vars.$background;
      font-size: 14pt;
    }
    #resultsSection {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      height: 55px;
      .scoreSection,
      .bestScoreSection {
        border: solid 2px vars.$tile-2-color;
        width: 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        p {
          margin: 0;
          color: vars.$primary-game-color;
        }
        #scoreNo,
        #bestScoreNo {
          font-size: 24px;
          color: vars.$primary-game-color;
          font-weight: 700;
        } 
      }
      .scoreSection {
        background-color: vars.$tile-2-color;
      }
    }
  }
}

#newGameBtn:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 20px;
  .instruction {
    color: vars.$primary-text-color;
    span {
      font-weight: 600;
    }
  }
  #gameBoard {
  margin-top: 25px;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  background-color: vars.$primary-game-color;
  padding: 10px;
  border-radius: 20px;
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: #6ebb70;
    border-radius: 10px;
  }

  .emptyTile {
    background-color: vars.$tile-0-color;
    box-shadow: 0 0.2px 4px #000 inset;
  }

  .tileShadow {
    box-shadow: 0px 2px 5px #0000004c;
  }

  .tile2 {
    background-color: vars.$tile-2-color;
    color: vars.$primary-text-color;
  }

  .tile4 {
    background-color: vars.$tile-4-color;
    color: vars.$primary-text-color;
  }

  .tile8 {
    background-color: vars.$tile-8-color;
    color: vars.$secondary-text-color;
  }

  .tile16 {
    background-color: vars.$tile-16-color;
    color: vars.$secondary-text-color;
  }

  .tile32 {
    background-color: vars.$tile-32-color;
    color: vars.$secondary-text-color;
  }

  .tile64 {
    background-color: vars.$tile-64-color;
    color: vars.$secondary-text-color;
  }

  .tileBiggerThan64 {
    background-color: vars.$tile-bigger-than-64;
    color: vars.$secondary-text-color;
  }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px) brightness(60%);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
  display: none;

  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px;
    height: 180px;
    width: 400px;
    background-color: vars.$background;
    opacity: 0.9;
    overflow: auto;
    z-index: 20;

    #modalContent {
      position: absolute;
      top: 50px;
      left: 60px;
      right: 60px;
      width: 300px;
      text-align: center;
      #modalMessage {
        color: vars.$primary-text-color;
        font-size: 14pt;
      }
    }

    #modalBtns {
      display: flex;
      position: absolute;
      top: 130px;
      left: 60px;
      right: 60px;
      align-items: flex-end;
      justify-content: center;
      .playAgainBtn {
        height: 40px;
        padding: 5px 10px;
        background-color: vars.$tile-2-color;
        border: solid 1px vars.$primary-game-color;
        border-radius: 10px;
        color: vars.$primary-text-color;
        cursor: pointer;
      }
    }
  }
}
